.sidenav__button {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 0.25s;
  overflow: hidden;
}

.sidenav__button:hover {
  cursor: pointer;
}

.sidenav__button:hover .sidenav__button--rectangle {
  background-color: #5eac1e;
}

.sidenav__button:first-child {
  margin-top: 0;
}
.sidenav__button:last-child {/*Doesnt work*/
  margin-bottom: 5rem;
}

.sidenav__button--text {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  flex: 0 0 60%;
  border-bottom: 5px solid #75609f;
}

.sidenav__button--rectangle {
  background-color: rgba(117, 96, 159, 0);
  transition: all 0.25s;
  flex: 1 1 auto;
  height: 1.5rem;
  align-self: flex-end;
  overflow: hidden;
  border-top: 10px solid #75609f;
  border-left: 10px solid #75609f;
  transform: skewX(-60deg) translateX(12px);
}
